In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [3]:
# Importing dataset
data = pd.read_csv("Titanic.csv")

# Convert categorical variable to numeric
data["Sex_cleaned"]=np.where(data["Sex"]=="male",0,1)

In [4]:
data

,Name,PClass,Age,Sex,Survived,Sex_cleaned
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
...,...,...,...,...,...,...
1308,"Zakarian, Mr Artun",3rd,27.00,male,0,0
1309,"Zakarian, Mr Maprieder",3rd,26.00,male,0,0
1310,"Zenni, Mr Philip",3rd,22.00,male,0,0
1311,"Lievens, Mr Rene",3rd,24.00,male,0,0
1312,"Zimmerman, Leo",3rd,29.00,male,0,0

In [5]:
# Cleaning dataset of NaN
data=data[[
    "Survived",
    "Sex_cleaned",
    "Age"
]].dropna(axis=0, how='any')

In [6]:
used_features =[
    "Sex_cleaned",
    "Age"
]

In [7]:
X = data[used_features].values
y = data["Survived"]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

metode Naive Bayes.

In [16]:
pwd

'd:\\master class python orbit'

In [9]:
from sklearn.naive_bayes import GaussianNB
model =GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.788

In [59]:
X_test[:10]

array([[ 0., 25.],
       [ 1., 45.],
       [ 1., 40.],
       [ 0., 36.],
       [ 0., 16.],
       [ 1., 23.],
       [ 0., 70.],
       [ 1., 16.],
       [ 0., 34.],
       [ 1., 27.]])

In [55]:
y_test[:10]

561    0
124    1
579    1
765    1
788    0
102    1
72     0
140    1
439    0
667    0
Name: Survived, dtype: int64

In [56]:
model.predict(X_test[:10])

array([0, 1, 1, 0, 0, 1, 0, 1, 0, 1], dtype=int64)